---
logo: "https://czechvisual.space/saroli/emailing/assets/saroli_logo_forte.png"
name: "Obchodní oddělení"
phone: "+420 775 265 640"
email: "info@saroliforte.cz"
website: "saroliforte.cz"
divize: "Saroli Forte s.r.o."
---

<!--
  HTML template
  Email signature
  @Author: Patrik Vaďura | czechvisual
  @package maildevelop
-->

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-600 font-sans sm:w-full">
      <tr>
        <td align="center">
          <component src="src/components/body.html"></component>

          <table class="w-600 sm:w-full">
            <tr>
              <td class="w-12/12 pl-0 sm:w-3/4">
                <a href="https://saroli.cz">
                  <img src="{{ page.logo }}" width="80" style="width: 80px!important;">
                </a>

                <p class="m-0 text-base text-saroli">
                  <span class="font-bold">{{ page.name }}</span> | {{ page.divize }}
                </p>

                <p class="m-0 font-light text-gray text-base">
                  <a href="tel:{{ page.phone }};" class="text-gray grayLinks">
                    {{ page.phone }}
                  </a> |
                  <a href="tel:{{ page.email }};" class="text-gray grayLinks">
                    {{ page.email }}
                  </a> |
                  <a href="https://{{ page.website }}" class="text-gray grayLinks">
                    {{ page.website }}
                  </a>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
