<table class="w-600 sm:w-full mb-4">
  <tr>
    <td class="text-black contentLink font-normal pb-8 px-0 sm:px-0" style="border-bottom: 1px solid #E8E7E4!important;">
      <div class="m-0 font-hind text-base leading-relaxed contentLink">
        Dobrý den,
        <br><br>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Nulla non lectus sed nisl molestie malesuada. Vivamus porttitor turpis ac leo.
        <br><br>
        S přáním hezkého dne,
      </div>
    </td>
  </tr>
</table>

<table class="w-600 sm:w-full" role="separator">
  <tr>
    <td class="leading-2">&zwnj;</td>
  </tr>
</table>
